
<%= javascript_include_tag "tasks" %>
<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="enter a task to be done" />
    </form>
	</header>

	<section class="main">
    <ul class="todo-list">
      <!-- in here will go what the tasks.js code asigns to todo-list html property -->
    </ul>
		
	</section>
</section>
<script>
// - removed from application.js file  //= require_tree .
//= require_tree .
</script>

<section class="author">
	A <%= link_to "todo-mvc", "http://todomvc.com" %>
	application, built by 
	<%= link_to "Nev Wood", "https://github.com/nerdycat99" %>

</section>